.picture {
    margin: 1%;
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    height: 10em;
}
#giphy {
    background-image: url(https://media.giphy.com/media/3oEjHOyNwE2iz1z6bC/giphy.gif);
}

#kyloren {
    background-image: url(https://media.giphy.com/media/3o7ZeTmU77UlPyeR2w/giphy.gif);
}

#trivia {
    background-image: url(https://media.giphy.com/media/e6tWc6BpjyluE/giphy.gif);
}

#train_scheduler {
    background-image: url(https://media.giphy.com/media/K0rQ0Btadepbi/giphy.gif);
}

#screen {
    background-image: url(images/screen.jpg);
}
.label {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: rgb(187, 75, 187);
}



/* I HAVE A HUGE SCREEN, I NEEDED TO ADD THIS ONE AS WELL */
@media (max-width:1920px) { 
    .profile {
        width: 30%;
    }
    .col-md-6 {
        max-width: 46%;
    }
 }

 @media (max-width: 980px) { 
    .profile {
        width: 30%;
    }
    .col-md-6 {
        max-width: 46%;
    }
 }

 @media (max-width: 768px) { 
    .profile {
        width: 50%;
    }
    .col-md-6 {
        max-width: 46%;
    }
 }

 @media (max-width: 640px) { 
    .profile {
        width: 100%;
    }
    .col-sm-12 {
        max-width: 98%;
    }
 }