.picture {
    margin: 1%;
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    height: 11em;
}
#earphones {
    background-image: url(images/earphones.jpg);
}

#ipad {
    background-image: url(images/ipad.jpg);
}

#mixer {
    background-image: url(images/mixer.jpg);
}

#mobile {
    background-image: url(images/mobile.jpg);
}

#screen {
    background-image: url(images/screen.jpg);
}
.label {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: rgb(187, 75, 187);
}



/* I HAVE A HUGE SCREEN, I NEEDED TO ADD THIS ONE AS WELL */
@media (max-width:1920px) { 
    .profile {
        width: 30%;
    }
    .col-md-6 {
        max-width: 46%;
    }
 }

 @media (max-width: 980px) { 
    .profile {
        width: 30%;
    }
    .col-md-6 {
        max-width: 46%;
    }
 }

 @media (max-width: 768px) { 
    .profile {
        width: 50%;
    }
    .col-md-6 {
        max-width: 46%;
    }
 }

 @media (max-width: 640px) { 
    .profile {
        width: 100%;
    }
    .col-sm-12 {
        max-width: 98%;
    }
 }