/* I HAVE A HUGE SCREEN, I NEEDED TO ADD THIS ONE AS WELL */
@media (max-width:1920px) { 
    .profile {
        width: 30%;
    }
 }

 @media (max-width: 980px) { 
    .profile {
        width: 30%;
    }
 }

 @media (max-width: 768px) { 
    .profile {
        width: 50%;
    }
 }

 @media (max-width: 640px) { 
    .profile {
        width: 100%;
    }
 }